<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ea277a1-18c4-4e75-b816-6445eb261fcb" Alias="[Repeatable textstrings] Metadata Keywords" Level="1">
  <Info>
    <Name>[Repeatable textstrings] Metadata Keywords</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>