@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@await Html.PartialAsync("~/Views/Partials/featuredPost.cshtml")

<section>
    <p>@Model.WelcomeText</p>
</section>