<?xml version="1.0" encoding="utf-8"?>
<Content Key="e54b6ae4-2444-4ddd-9bd9-a574a41c6124" Alias="Contact" Level="2">
  <Info>
    <Parent Key="f198af1b-6676-429b-a09c-f195d709121f">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-04-21T11:21:21</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="296a3e3d-5fe0-46ab-9ae2-b2ff4af90339">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaShareAltText>
      <Value><![CDATA[]]></Value>
    </metaShareAltText>
    <metaShareImage>
      <Value><![CDATA[]]></Value>
    </metaShareImage>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>