<?xml version="1.0" encoding="utf-8"?>
<Content Key="f198af1b-6676-429b-a09c-f195d709121f" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-04-16T23:54:04</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="baffff9a-97f5-407f-8a7e-3b25665c055e">HomePage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[This is a meta description]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Hello
World]]></Value>
    </metaKeywords>
    <metaShareAltText>
      <Value><![CDATA[]]></Value>
    </metaShareAltText>
    <metaShareImage>
      <Value><![CDATA[[]]]></Value>
    </metaShareImage>
    <metaTitle>
      <Value><![CDATA[This is a meta title]]></Value>
    </metaTitle>
    <welcomeText>
      <Value><![CDATA[Welcome to my custom Umbraco project]]></Value>
    </welcomeText>
  </Properties>
</Content>