<?xml version="1.0" encoding="utf-8"?>
<Content Key="48729d91-bd0b-4c76-b373-2cc93efa60f0" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="f198af1b-6676-429b-a09c-f195d709121f">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettingPage</ContentType>
    <CreateDate>2023-04-21T13:41:28</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainLogo>
      <Value><![CDATA[[
  {
    "key": "75e713fa-9a3a-401c-bf5b-7d01aa413870",
    "mediaKey": "4e805991-66ac-4037-8f41-19d1dc2ac5a2"
  }
]]]></Value>
    </mainLogo>
    <mainNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a7a73e101f204d80ab9a5b7bcc3289bc"
      },
      {
        "contentUdi": "umb://element/41ada537fdd94681a12d5634b0820065"
      },
      {
        "contentUdi": "umb://element/691274dd66814ab98f0cefa861c0a5a7"
      },
      {
        "contentUdi": "umb://element/7e6db623868f4b968ed58107589224e2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "fbab8522-cfa8-4682-9de7-d5ff99d9622b",
      "udi": "umb://element/a7a73e101f204d80ab9a5b7bcc3289bc",
      "title": "Home",
      "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/f198af1b6676429ba09cf195d709121f\"}]",
      "childLinks": null
    },
    {
      "contentTypeKey": "fbab8522-cfa8-4682-9de7-d5ff99d9622b",
      "udi": "umb://element/41ada537fdd94681a12d5634b0820065",
      "title": "About",
      "link": "[{\"name\":\"About\",\"udi\":\"umb://document/b3887eead97e4801bf3b73df03117e11\"}]",
      "childLinks": null
    },
    {
      "contentTypeKey": "fbab8522-cfa8-4682-9de7-d5ff99d9622b",
      "udi": "umb://element/691274dd66814ab98f0cefa861c0a5a7",
      "title": "Blog",
      "link": "[{\"name\":\"Blog\",\"udi\":\"umb://document/9ccb872bf8c34d2992f58785e997255f\"}]",
      "childLinks": "[{\"name\":\"Blog\",\"udi\":\"umb://document/9ccb872bf8c34d2992f58785e997255f\",\"queryString\":\"?category=travel\"},{\"name\":\"Blog\",\"udi\":\"umb://document/9ccb872bf8c34d2992f58785e997255f\",\"queryString\":\"?category=development\"}]"
    },
    {
      "contentTypeKey": "fbab8522-cfa8-4682-9de7-d5ff99d9622b",
      "udi": "umb://element/7e6db623868f4b968ed58107589224e2",
      "title": "Contact",
      "link": "[{\"name\":\"Contact\",\"udi\":\"umb://document/e54b6ae424444ddd9bd9a574a41c6124\"}]",
      "childLinks": null
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[]]></Value>
    </siteName>
  </Properties>
</Content>