<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8a27eac7-622c-4102-b1ca-c2e2f202e347" Alias="blogPage" Level="2">
  <Info>
    <Name>Blog Page</Name>
    <Icon>icon-document color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8beb1608-4a53-4430-830b-7984eb74bb3b">contentProperties</Composition>
      <Composition Key="8b9589b4-4cf1-4dc2-b24c-36dcbff2064a">metadata</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>